<div ng-controller="IndexCtrl">
  <h1>SuperManager ACB</h1>
  <div class="row" ng-repeat="team in data.teams">
      <h2>{{ team.name }}</h2>
      <p>{{ team.points }}, {{ team.position }}, {{ team.balance }}</p>
  </div>
</div>