<!DOCTYPE html>
<html ng-app="Supermanager">
<head>
  <title>SupermanagerBackend</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application", controller_name %>
  <%= csrf_meta_tags %>
</head>
<body class="app">
	<section id="main" data-transition="slide" data-transition-origin="slide">
	    <header class="title">
	        <nav class="left">
	            <a href="#menu" data-router="aside"  data-icon="menu"></a>
	        </nav>
	        <nav class="right">
	            <a href="#contact-section" data-router="section" data-icon="info" data-async="app/resources/sections/contact.html" data-transaction="cover"></a>
	        </nav>
			<h1 class="centered title"> SuperManager ACB </h1>
	    </header>

	    <article id="main-article" class="active list scroll">
	    	<%= yield %>
		</article>
		
	</section>
	<aside id="menu">
	    <header data-title="Opciones"></header>
	    <article class="active list">
	    	<ul>
	            <li>
	                <a href="#clients" data-icon="users">
	                    <strong>Mis Equipos</strong>
	                </a>
	            </li>
	            <li>
	            	<a href="#clients" data-icon="brand dribbble">
	                    <strong>Ligas Privadas</strong>
	                </a>
	            </li>
	            <li>
	                <a href="#clients" data-icon="cart">
	                    <strong>Mercado</strong>
	                </a>
	            </li>
	            <li>
	            	<a href="#clients" data-icon="bars">
	                    <strong>Clasificaciones</strong>
	                </a>
	            </li>
	        </ul>
	    </article>
	</aside> 

    <!-- Javascript - Dependencies -->
    <script src="assets/QuoJS/quo.js"></script>
    <script src="assets/lungo/lungo.debug.js"></script>

    <!-- Lungo - Sandbox App -->
    <script>
        Lungo.init({
        });
    </script>
    
</body>
</html>

